<!DOCTYPE css>
<css>


body {
  color: black;
}

h1 {
  color: white;

}


a {
text-decoration: none;
}

video {
    object-fit: fill;
}



/* static glow below */
#glow {
  animation: glowingAnimation 30s infinite;
}

#EUROPA {
  animation: glowingAnimationEUROPA 4s infinite
}

#ROOMS {
  animation: glowingAnimationROOMS 4s infinite
}


/* glowing animation below */
@keyframes glowingAnimationEUROPA {
  0% { box-shadow: 0 0 100px 50px rgb(238, 255, 0); }
  50% { box-shadow: 0 0 100px 50px rgb(43, 255, 0); }
  75% { box-shadow: 0 0 100px 50px rgb(0, 225, 255); }
  100% { box-shadow: 0 0 100px 50px rgb(238, 255, 0); }
}

@keyframes glowingAnimationROOMS {
  0% { box-shadow: 0 0 100px 50px rgb(81, 255, 0); }
  50% { box-shadow: 0 0 100px 50px rgb(255, 196, 0); }
  75% { box-shadow: 0 0 100px 50px rgb(250, 0, 250); }
  100% { box-shadow: 0 0 100px 50px rgb(81, 255, 0); }
  }

@keyframes glowingAnimation {
  0% { box-shadow: 0 0 50px 10px #CEA0AE; }
  50% { box-shadow: 0 0 50px 10px #ffffff; }
  100% { box-shadow: 0 0 50px 10px #CEA0AE; }
  }



</css>
